@model IEnumerable<Graduation_Project.Models.HouseWithPictureViewModel>
@{
    Layout = "Home";
}



@if (TempData["OrderMessage"] != null)
{

    @if (TempData["OrderMessage"] is string message)
    {
        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center p-3">
                        @TempData["OrderMessage"]
                    </div>
                </div>
            </div>
        </div>

    }

}
@foreach (var item in Model)
{
    <div class="box">
        <img width="450" height="250" src="@item.Picture?.Url" alt="">
        <div class="text">
            <p class="price">@item.House.Price $</p>
            <p class="titel">@item.House.Titel</p>
            <p class="location">
                <i class="fa-solid fa-location-dot"></i> @item.House.Location
            </p>
            <ul class="flex">
                <li>
                    <form asp-action="Index" asp-controller="Details" method="get">
                        <input type="hidden" name="id" value="@item.House.HouseId" />
                        <button type="submit">Show More</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            var hasModal = $('.modal').length > 0;
            if (hasModal) {
                $('.modal').modal('show');
            }
        });
    </script>
}
